@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.container{
  min-height: 100vh;
  width: 100%;
  background-color: rgba(189, 192, 241, 0.925);
  /* background-image: linear-gradient(to right, rgb(59,67,213), transparent); */
  background-size: cover;
  background-position: center;

}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 12px 10%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* border: 5px solid black; */
}
.logo{
  width: 50px;
  border-radius: 100px;
}
.nav-links{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 100px;
}
.nav-links a{
  text-decoration: none;
  color: #333;
  gap: 5px;
  display: inline-flex;
  align-items: center;
}
.cv-btn{
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border: 0;
  outline: 0;
  /* background: rgba(59,67,213,0.6); */
  border:3px solid rgba(59,67,213,0.6);
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  color: rgba(59,67,213,0.6);
  position: relative;
	overflow: hidden;
}
/* boton 2, relleno progresivo desde abajo --------------------- */
.btn-fill {
	background: white;
	color: rgba(59,67,213,0.6);
	padding: 14px 32px;
	border: 2px solid rgba(59,67,213,0.6);
	border-radius: 8px;
	z-index: 1; /* por encima de el relleno */
}

/* capa de relleno que se anima desde abajo */
.btn-fill::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -1; /* por detras del boton */
	background: rgba(59,67,213,0.6);
	border-radius: 6px;

	/* transicion en la altura del relleno */
	transition: height 0.4s ease-in;
}

/* cuando hay hover, activar la altura del before */
.btn-fill:hover::before {
	height: 100%;
}
.btn-content {
	position: relative;
	z-index: 2;
	transition: color 0.4s ease;
}

.btn-fill:hover .btn-content {
	color: white;
}

/*PORTADA*/

.logo-portada{ 
  margin: 0px 0px 0px 0px;
  max-width: 40%;
  border-radius: 500px;
}
.titulo-portada{
  text-align: center;
  font-size:100px;
  margin: 114px 10px -38px 0px;
  /* transform: translateY(-0%); */
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: -10px;
}
.subtitulo-portada{
  text-align: center;
  font-size: 30px;
  /* white-space: nowrap; */
  overflow: hidden;
}
.grid-container-portada{
  display: grid;
  /* border:  1px solid rgb(0, 0, 0); */
  /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
  gap: 15px;
  justify-content: center;
  text-align: center;
  display: grid; place-items: center;
}

/* Animation */

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid #00FFAB; /* cursor */
  white-space: nowrap;
  width: 0; /* empieza sin ancho */
  animation: typing 6s steps(24, end) infinite, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
/*   from { width: 0 }
  to { width: 11em } */ /* ajusta al ancho exacto del texto */
  0%   { width: 0 }
  50%  { width: 11em }        /* escribe */
  80%  { width: 11em }        /* pausa visible */
  100% { width: 0 }             /* borrado lento */

}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00FFAB }
}


.texto-portada{
    margin: 0px 0px 0px 60px;
}


/*PROYECTOS*/

/*.section-container{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgb(207, 207, 207), transparent); 
  background-size: cover;
  background-position: center;
}*/

.titulo-proyecto{
  text-align: center;
  margin-top: 100px;
}
.texto-proyecto{
  text-align: center;
  margin: 0px 0px 22px 0px;
}
.grid-proyecto{
    margin: 0px auto 6rem;
    display: grid;
    max-width: calc(1280px + 2rem);
    padding: 0px 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

}
.proyecto {
    margin: 0px auto;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid rgba(43, 105, 251, 0.12);
    box-shadow: rgba(43, 105, 251, 0.06) 0px 0px 1rem 1rem;
    position: relative;
    /* border: 1px solid black; */
}
.proyecto-envolver {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.logo-proyecto {
    display: flex;
    width: 100%;
    height: auto;
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 0.8rem;
    border: 1px solid rgba(43, 105, 251, 0.12);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.descripcion-proyecto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 0rem 1rem;
    color: rgb(10, 0, 27);
    margin-top: 10%;
    background: rgb(250, 254, 255);
    box-shadow: rgb(250, 254, 255) 0px 0px 4rem 6rem;
}
.texto-repositorio-proyecto {
    margin-bottom: 3.5rem;
}
.proyecto-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0px;
    padding: 1rem;
}

.icono-proyecto{
  width: 32px;     /* Tamaño del ícono */
  height: 43px;    /* Asegura proporción */
  margin: -6px;     /* Espacio entre íconos */
  transition: transform 0.3s ease;
}

/*CONTACTO*/

.titulo-contacto{
  text-align: center;
}
.grid-contacto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
  gap: 20px;
  justify-content: center;
  padding: 50px;
  margin: 0px 0px 0px 0px;
  background-color: rgba(189, 192, 241, 0.925);
}

.card {
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 30px 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card i {
  font-size: 40px;
  color: #555;
  margin-bottom: 10px;
}

.card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}


/*FOOTER*/

footer{
  /* color: #f0f0f0; */
  padding: 40px 20px 20px;
  /* font-family: 'Segoe UI', sans-serif; */

}

.parrafo-footer{
  text-align: center;
    margin: 20px 0px 20px 0px;
}

.grid-container{
  display: grid;
  /* border:  1px solid rgb(0, 0, 0); */
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  gap: 15px;
  justify-content: center;
}

.corrector{
  border: 1px solid black;
}
/* Preloader */
#preloader {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.6s ease;
}

#preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader-text {
  font-size: 2rem;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  animation: fadeIn 1.5s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0.3; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1.05); }
}

/*responsive*/

@media (max-width: 768px) {
  .container{
  min-height: 60vh;
  width: 100%;
  background-color: rgba(189, 192, 241, 0.925);
  /* background-image: linear-gradient(to right, rgb(59,67,213), transparent); */
  background-size: cover;
  background-position: center;

  }
  .titulo-portada{
  text-align: center;
  font-size:50px;
  margin: 114px 10px -38px 0px;
  /* transform: translateY(-0%); */
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: -5px;
  }
  #preloader{
  width: 100vw;
  height: 100vh;
  padding: 2em;

  }
  .loader-text {
    font-size: 1.5em;
  }
  .ball {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 480px) {
  .loader-text {
    font-size: 1.2em;
  }
  .ball {
    width: 10px;
    height: 10px;
  }
}